:root {
	--main-font: "Open Sans", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--accent-color: #ff6c00;
}

h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

body {
	font-family: var(--main-font);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ======= COMPONENTS =======*/

.modal-btn {
    padding: 12px 20px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	background-color: transparent;
}

.modal-btn:hover,
.modal-btn:focus {
	color: #fff;
	background-color: var(--accent-color);
	cursor: pointer;
}

.social-links-list {
	display: flex;
	align-items: center;
}

.social-links-list::before {
	display: block;
	content: "";
	width: 60px;
	height: 1px;
	background-color: #303030;
	flex-shrink: 0;
	margin-right: 40px;
} 

.social-links-list-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2;
	color: #303030;
}

.social-links-list-item:not(:last-child) {
	margin-right: 40px;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
	color: var(--accent-color);
}

.suptitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
    margin-bottom: 20px;
}

.description {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
}

.title {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;
	color: #303030;
}

/* ======= END COMPONENTS =======*/

/* ======= HEADER =======*/

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}


.menu-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}

.tel-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: 40px;
}

.tel-link:hover,
.tel-link:focus {
	color: var(--accent-color);
}

/* ======= END HEADER =======*/

/* ======= HERO =======*/

.hero-container {
	display: flex;
}

.hero-title {
	font-family: var(--secondary-font);
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	color: #ffffff;
}

.hero-left-side {
	width: 100px;
}

.hero-right-side {
	padding-top: 272px;
	padding-bottom: 206px;
	padding-left: 100px;
	flex-grow: 1;
	background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("/img/hero/bg.jpg");
	background-size: cover; 
}

/* ======= END HERO =======*/

/* ======= ABOUT =======*/
.about-container {
	display: flex;
}

.about-title {
	margin-bottom: 20px;
}

.about-text {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: #555555;
}

/* ======= END ABOUT =======*/

/* ======= SERVICES ======= */
.services-list-name,
.services-list-price {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* ======= END SERVICES ======= */

/* ======= ADVANTAGES ======= */
.advantages-list-count {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303030;
}

.advantages-list-description {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.37;
	text-align: center;
	color: #303030;
}
/* ======= END ADVANTAGES ======= */

/* ======= MASTERS ======= */
.masters {
    background-color: #f7f7f7;
}

.masters-title {
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.masters-list-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.masters-list-name {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	letter-spacing: 0.02em;
	color: #303030;
    margin-bottom: 8px;
}

.masters-list-content {
    padding-top: 30px;
}

.masters-list-position {
	font-size: 14px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
/* ======= END MASTERS ======= */

/* ======= GALLERY ======= */

/* ======= END GALLERY ======= */

/* ======= CONTACT INFORMATION ======= */
.contact-info-link {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.contact-info-date {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

/* ======= END CONTACT INFORMATION ======= */

/* ======= FOOTER ======= */
.copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #9da4bd;
}
/* ======= END FOOTER ======= */
